### Ques-1.

Create one variable containing following type of data:
(i) string
(ii) list
(iii) float
(iv) tuple

### Ans-1

In [4]:
# string
s = "Assignment 1"
print("s :",type(s))

#list
lst = [1, 2, 3, 4, 9.56, "hello"]
print("lst :",type(lst))

#float
num = 34.54
print("num :",type(num))

#tuple
tup = (1, 2, 4 ,5 ,3 ,"hello")
print("tup :",type(tup))

s : <class 'str'>
lst : <class 'list'>
num : <class 'float'>
tup : <class 'tuple'>

### Ques-2

Given are some following variables containing data:
(i) var1 = ‘ ‘
(ii) var2 = ‘[ DS , ML , Python]’
(iii) var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]
(iv) var4 = 1.
What will be the data type of the above given variable.

### Ans-2

##### For var1 datatype will be string as it is enclosed within the quotation mark
##### For var2 datatype will be string as it is enclosed within the quotation mark
##### For var3 datatype will be list
##### For var4 datatype will be numeric

### Ques-3

Explain the use of the following operators using an example:
(i) /
(ii) %
(iii) //
(iv) **

In [5]:
#  / is used for division, return the quotient when two numbers are divided
print("/ :",500/5)
#  % returns the remain when two numbers are divided
print("% :",502%5)
#  // is used for floor division, return the intetral part quotient when two numbers are divided
print("/ :",500//5)
#  // is used for exponention, return the A raise to the power B
print("** :",5**5)

/ : 100.0
% : 2
/ : 100
** : 3125

### Ques-4

Create a list of length 10 of your choice containing multiple types of data. Using for loop print the
element and its data type.

### Ans-4

In [6]:
lst= [1,2,3,4,5,7.8,True,7-5j,'hello','PW']
for i in lst:
    print(i,":", type(i))

1 : <class 'int'>
2 : <class 'int'>
3 : <class 'int'>
4 : <class 'int'>
5 : <class 'int'>
7.8 : <class 'float'>
True : <class 'bool'>
(7-5j) : <class 'complex'>
hello : <class 'str'>
PW : <class 'str'>

### Ques-5

Using a while loop, verify if the number A is purely divisible by number B and if so then how many
times it can be divisible.

### Ans-5

In [9]:
A = int(input("Enter Dividend : "))
B = int(input("Enter Divisor : "))
count = 0

while A%B==0:
    count +=1
    A/=B
    
if count>0:
    print("Number A is divisible by Number B",count,"times.")
else:
    print("Number A is not divisible by Number B.")

Enter Dividend : 500
Enter Divisor : 5
Number A is divisible by Number B 3 times.

### Ques-6

Create a list containing 25 int type data. Using for loop and if-else condition print if the element is
divisible by 3 or not.

### Ans-6

In [10]:
lst = my_list = [7, 12, 8, 21, 30, 16, 9, 2, 25, 6, 18, 1, 27, 14, 3, 5, 20, 22, 11, 13, 24, 17, 4, 19, 10]
for i in lst:
    if i%3==0:
        print(i,"is divisible by 3")
    else:
        print(i,"is not divisible by 3")

7 is not divisible by 3
12 is divisible by 3
8 is not divisible by 3
21 is divisible by 3
30 is divisible by 3
16 is not divisible by 3
9 is divisible by 3
2 is not divisible by 3
25 is not divisible by 3
6 is divisible by 3
18 is divisible by 3
1 is not divisible by 3
27 is divisible by 3
14 is not divisible by 3
3 is divisible by 3
5 is not divisible by 3
20 is not divisible by 3
22 is not divisible by 3
11 is not divisible by 3
13 is not divisible by 3
24 is divisible by 3
17 is not divisible by 3
4 is not divisible by 3
19 is not divisible by 3
10 is not divisible by 3

 ### Ques-7

What do you understand about mutable and immutable data types? Give examples for both showing
this property.

### Ans-7

Immutable datatypes are objects that cannot be modified or altered after they have been created. Examples of immutable data types include strings & tuples.
Mutable data types are those whose values can be changed or new values can be assigned to them. Examples include lists, dictionaries, and sets are mutable